<html lang="en">
    <%- include("./partials/head.ejs") %> 

    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="details">
            <h2>Book details</h2>
            <p>Title: <%= book.title %></p>
            <p>Author: <%= book.author %></p>
            <p>Page number: <%= book.numberOfPages %></p>
            <p>Description: <%= book.description %></p>
            <button class="delete" data-delete="<%= book._id %>">Delete Book</button>
        </div>

        <script>
            const bin = document.querySelector('button.delete');
            bin.addEventListener('click', (e) => {
                const endpoint = `/books/${bin.dataset.delete}`;
                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch((err) => console.log(err))
            });
        </script>
    </body>
</html>